.m-sd-chat-wrap-box{display: flex;justify-content: center;background: #ddd;background: #ddd;position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}
.m-sd-chat-wrap-chat{position: relative; display: flex;flex-direction: column; max-width: 800px;width: 100%;background: #ededed;}
.m-sd-chat-wrap-chat.active{max-width: 1600px;}
.m-sd-chat-main{flex:1;display: flex;flex-direction: column;overflow-y: auto;}
.m-sd-chat-footer{display: flex;padding: 5px; align-items: center;justify-content: center;background: #f6f6f6;}
.m-sd-chat-footer-btn-wrap{ display: flex; margin: 5px 0 0;justify-content: flex-end;}
.m-sd-chat-footer-btn-send{margin: 0 5px 0 5px;}
.m-sd-chat-input-toolbar{display: flex;align-items: center; padding: 5px 0 0 5px; border-top: 1px solid #ddd;height: 30px;background: #f6f6f6;}
.m-sd-chat-input-toolbar-icon{font-size: 24px;cursor: pointer;margin: 0 5px 0 0;}
.m-sd-chat-input-toolbar-icon:hover{color: #1890ff;}
.m-sd-chat-list{flex: 1;padding: 0px 0;}
.m-sd-chat-list.rn{padding: 0 0 0;}
.m-sd-chat-dropdown{position: absolute;top: 10px;right: 14px;}
.m-sd-chat-user-list-wrap-wrap{margin: 0 10px;}
.m-sd-chat-user-list-wrap{padding: 10px 0px 10px;display: flex;flex:1; line-height: 28px;overflow: hidden;}
.m-sd-chat-user-list-avatar{width: 42px;height: 42px;border-radius: 6px;}
.m-sd-chat-user-list-avatar-popover{width: 200px;}
.m-sd-chat-intro-img{width: 64px!important; height: 64px!important;border-radius: 6px;}
.m-sd-chat-userinfo-wrap .ant-image-mask-info {display: none;}
.m-sd-chat-message-wrap{display: flex;flex-direction: column;flex: 1;padding: 0 0 0 5px;margin: -12px 0 0 0; overflow: hidden;}
.m-sd-chat-nickname{color: #999;font-size: 12px;padding: 0 0 0 6px;}
.m-sd-chat-message-inner{ display: inline-block;padding: 0 0 0 6px; max-width: 100%;}
.m-sd-chat-message-inner-inner{position: relative; display: inline-block;max-width: 100%;padding: 0 8px 0 0;box-sizing: border-box;}
.m-sd-chat-message{display: inline-block; padding: 8px 10px;font-size: 16px; border-radius: 4px; background: #fff;color: #333; line-height: 1.75;max-width:100%;word-wrap: break-word;white-space: pre-line;box-sizing: border-box;}
.m-sd-chat-message.chat-type1{background: #cbddf7;}
.m-sd-chat-message.chat-type2{background: #fff;}
.m-sd-chat-message.me{background: #95ec69;}
.m-sd-chat-message-cross {position: absolute;top: 15px;left: -4px;overflow: hidden;width: 8px;height: 8px;transform: rotate(-45deg);}
.m-sd-chat-message-cross.chat-type1{background: #cbddf7;}
.m-sd-chat-message-cross.chat-type2{background: #fff;}
.m-sd-chat-message-cross.me{background: #95ec69;}
.m-sd-chat-menu-btn{display: inline-block;text-align: center;line-height: 35px; color: #333;font-size: 26px;width: 35px;height: 35px;z-index: 99;cursor: pointer;}
.m-ai-message-footer-info{flex:1}
.m-sd-chat-message-footer{display: flex;align-items: center; font-size: 12px;padding: 2px 10px 0 0;margin: 0 0 0 -6px; line-height: 30px;max-height: 30px;}
.m-sd-chat-message-footer .ant-popover-inner-content{padding: 5px}
.m-sd-chat-message-footer-toolbar{display: flex;padding: 0 5px 0 0;align-items: center;}
/* .m-sd-chat-message-footer-toolbar .ant-btn{} */
.m-sd-chat-message-to-audio{display: none;}
.m-sd-chat-message-to-audio.active{display: block;}
.m-sd-chat-message-audio-player-btn{display: none;cursor: pointer;color: #1890ff;font-size: 30px;margin: 0 5px 0 0;}
.m-sd-chat-message-audio-player-btn.active{display: block;}
.m-sd-chat-message-audio-player-btn.audio-play{padding: 0 0 0 5px;}
.m-sd-chat-message-audio-player-btn.audio-ing{ margin: 0 4px 0 -5px;padding: 0 0 0 5px;font-size: 18px;}
.m-sd-chat-message-audio-player-btn.audio-ing .ant-btn-loading-icon-motion{margin: 0 0 0 -8px;}

.m-sd-chat-message-audio-player-btn:hover{color: #0374dd;}
.m-sd-chat-message-footer-info{flex: 1;text-align: right;color: #999;}
.m-sd-chat-message-footer-info.gpt-4{flex: 1;text-align: right;color: #ff9a03;}
.m-sd-chat-message-footer-info.unread{flex: 1;text-align: right;color: #1890ff;}
.m-sd-chat-message-footer-upgrade{display: block;padding: 0 0 0 5px; color: #1890ff;}
.m-sd-chat-message-audio-wrap{display: none;padding: 2px;}
.m-sd-chat-message-audio-wrap.active{display: block;}
.m-sd-chat-userinfo-wrap{width: 240px;}
.m-sd-chat-message pre{position: relative;border-radius: 5px}
.m-group-chat-code-copy-icon{position: absolute;top: 5px;right: 10px;color: #e1e1e1;cursor: pointer;}
.m-sd-chat-audio-player-wrap{width: 90%;max-width: 700px;height: 50px;}
.m-sd-chat-message-toolbar{display: flex;gap: 8px;}
.m-sd-chat-toolbar-item{display: flex;flex-direction: column; align-items: center;cursor: pointer;}
.m-sd-chat-toolbar-item:hover{color: #0374dd}
.m-sd-chat-menu-icon{font-size: 18px!important;}
.m-sd-chat-toolbar-link{color: rgba(0, 0, 0, 0.85);display: flex;flex-direction: column;text-align: center;}
.m-sd-chat-toolbar-link:hover{color: #0374dd!important;}
.m-sd-chat-toolbar-icon{font-size: 20px;}
.m-sd-chat-audio-popover{display: flex;}

.m-sd-chat-drawer .ant-drawer-wrapper-body{background: #ededed;}
.m-sd-chat-plugin-wrap{display: flex;flex-wrap: wrap;justify-content: center;}
.m-sd-chat-plugin-item{margin: 0 5px 10px;}
.m-sd-chat-plugin-item:hover .m-sd-chat-plugin-item-icon-wrap{background: #cbddf7;}
.m-sd-chat-plugin-item:hover .m-sd-chat-plugin-text{color: #00c250;}
.m-sd-chat-plugin-item-icon-wrap{display: flex;align-items: center;justify-content: center; width: 64px;height: 64px;border-radius: 14px;background: #fff; cursor: pointer;}
.m-sd-chat-plugin-icon{font-size: 30px;}
.m-sd-chat-plugin-text{margin: 5px 0 0 0; font-size: 13px;text-align: center;color: #333;}
.m-sd-chat-plugin-img-list{display: flex;flex-direction: column;gap: 10px;}
.m-sd-chat-plugin-img-wrap{display: flex;justify-content: center;margin: 0 0 10px 0;}
.m-sd-chat-plugin-img{margin: 10px 0 0; width: 200px!important; height: auto;}

.m-sd-chat-input-type-icon{font-size: 30px;margin: 0 5px 0 0;}
.m-sd-chat-input-wrap{display: flex;position: relative; width: 100%;align-items: center;}
.m-sd-chat-input{flex: 1}
.m-sd-chat-audio-recorder-wrap{margin: 10px;}
.m-sd-chat-audio-recorder-wrap-outer{display: none;width: 100%;align-items: center;}
.m-sd-chat-audio-recorder-wrap-outer.active{display: flex;}
.m-sd-chat-input-info-icon{position: absolute;right: 5px;bottom: 5px;font-size: 24px;z-index: 1;cursor: pointer;}
.m-sd-chat-input-info-icon:hover{color: #1677ff;}
.m-sd-chat-img-box{display: flex;flex-wrap: wrap; padding: 12px 12px 12px 12px; max-width: 280px;}
.m-sd-chat-img-wrap{margin: 4px;min-height: 120px}
.m-sd-chat-img{width: 120px!important; min-height: 120px!important;border-radius: 6px;}
.m-sd-chat-loading-gif-wrap{display: flex;}
.m-sd-chat-loading-gif{width: 20px;height: 20px;}

.m-sd-chat-modal .ant-form-item-label{max-width: 300px;}
.m-sd-chat-modal-footer{text-align: center;}
.m-sd-chat-modal-form-info{padding: 20px 20px 0 0;}

.m-sd-chat-message-info-icon{font-size: 24px;cursor: pointer;}
.m-sd-chat-message-info-icon:hover{color: #1677ff;}

.m-sd-chat-modal .ant-modal-content{padding: 20px 0 20px 24px;}
.m-sd-chat-modal-btn-wrap{margin: 5px 0 0;}

.m-sd-chat-select-avatar-wrap{display: flex;flex-wrap: wrap;justify-content: center;}
.m-sd-chat-select-avatar-img-wrap{margin: 5px; width: 120px; text-align: center;cursor: pointer;}
.m-sd-chat-select-avatar-img-wrap.active .m-sd-chat-select-avatar-img{transform: scale(1.2);}
.m-sd-chat-select-avatar-img-wrap.active .m-sd-chat-select-avatar-title{color: #1890ff;font-weight: bold;}
.m-sd-chat-select-avatar-img{width: 100px;height: 125px;object-fit: cover;border-radius: 6px;cursor: pointer;}
.m-sd-chat-select-avatar-img-unselected{width: 100px;height: 125px;object-fit: cover;border-radius: 6px;cursor: pointer;}
.m-sd-chat-select-avatar-title{margin: 10px 0;}
.m-sd-chat-select-avatar-title-unselected{margin: 10px 0;}

.m-sd-chat-select-avatar-img-wrap:hover .m-sd-chat-select-avatar-img{transform: scale(1.2);}
.m-sd-chat-select-avatar-img-wrap:hover .m-sd-chat-select-avatar-title{color: #1890ff; font-weight: bold;}

.m-sd-chat-prompt-info{position: absolute;display: flex;flex-direction: column; top: 56px;left: 0;right: 0;bottom: 0;border-top: 1px solid #ddd;}
.m-sd-chat-prompt-toolbar{display: flex; height: 50px; padding: 0 10px; align-items: center; border-bottom: 1px solid #ddd;}
.m-sd-chat-prompt-content{display: flex;margin: 0 0 71px 0; flex: 1;overflow-y: auto;}
.m-sd-chat-prompt-sidebar{width: 100px;height: 100%;overflow-y: auto;border-right: 1px solid #ddd;}
.m-sd-chat-prompt-sidebar-item{border-bottom: 1px solid #ddd; text-align: center;padding: 5px 2px;cursor: pointer;}
.m-sd-chat-prompt-sidebar-item:hover{background: rgb(192, 229, 241);}
.m-sd-chat-prompt-sidebar-item.active{background: lightblue;}
.m-sd-chat-prompt-list{padding: 0 0; text-align: center; flex:1; overflow-y: auto;}
/* 吸顶未生效 */
.m-sd-chat-prompt-category{position: sticky;top: 0; text-align: left;padding: 5px 10px;background: #ddd;z-index: 9;}
.m-sd-chat-prompt-list-item{position: relative; display: inline-block;margin: 5px;padding: 2px 10px;background: #eee;border-radius: 4px;cursor: pointer;}
.m-sd-chat-prompt-list-item:hover{background-color: #2282db;color: #fff;}
.m-sd-chat-prompt-list-item.active{background-color: #1890ff;color: #fff;}
.m-sd-chat-prompt-category-anchor{position: absolute;top: -40px;}
.m-sd-chat-prompt-text-active{font-size: 16px;color: #333;font-weight: bold;}
.m-sd-chat-prompt-text{font-size: 12px;color: #999;}

.m-sd-chat-select-footer{position: absolute; display: flex;justify-content: center;align-items: center; left: 0;right: 0;bottom: 0;height: 70px;border-top: 1px solid #ddd;background-color: hsla(0,0%,100%,.32)!important;backdrop-filter: blur(2px);}



@media screen and (min-width: 768px) {  
.m-sd-chat-footer{display: flex;flex-direction: column;}  
.m-sd-chat-footer-btn-wrap{width: 100%;display: flex;gap: 5px;}
.m-sd-chat-user-list-avatar-popover{width: unset;}

} 

.m-sd-chat-message-footer .ant-popover-inner{padding: 0;}
.m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls{padding: 0 0 5px 0;}
@media screen and (max-width: 768px) {  
  .m-sd-chat-audio-player-wrap{height: 120px;}
  .m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls{flex-wrap: wrap-reverse;padding: 0 0 20px 0;}
  .m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls .xgplayer-progress{min-width: 100px;top: -5px;}
  .m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls .xgplayer-time{top: 19px;}
  .m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls .xgplayer-cover{top: 6px;}
  .m-sd-chat-audio-player-wrap .xgplayer-skin-default.xgplayer-music .xgplayer-controls .xgplayer-progress .xgplayer-name{left: -7px;top: -31px;}
} 





