.m-ai-wrap-box{display: flex;justify-content: center;background: #ddd;background: #ddd;position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}
.m-ai-wrap-chat-group{display: flex;flex-direction: column; max-width: 800px;width: 100%;background: #f5f5f5;position: relative;}
.m-ai-wrap-chat-group.active{max-width: 1600px;}
.m-ai-main{flex:1;display: flex;flex-direction: column;overflow-y: auto;}
.m-ai-footer{display: flex;padding: 5px; border-top: 1px solid #ddd;gap: 5px;align-items: center;justify-content: center;}
.m-ai-footer-btn-wrap{display: flex; justify-content: flex-end;}
.m-ai-list{flex: 1;padding: 0px 0;}
.m-ai-dropdown{position: absolute;top: 10px;right: 20px;}
.m-ai-user-list-wrap-wrap{margin: 0 10px;display: flex; }
.m-ai-user-list-wrap{padding: 10px 0px 10px;display: flex;flex:1; line-height: 28px;overflow: hidden;}
.m-ai-user-list-avatar{width: 38px;height: 38px;border-radius: 50%;}
.m-ai-message-wrap{display: flex;flex-direction: column;flex: 1;padding: 0 0 0 5px;overflow: hidden;}
.m-ai-nickname{color: #999;font-size: 12px;}
.m-ai-message-inner{display: inline-block;max-width: 100%;}
.m-ai-message{display: inline-block; padding: 10px;border-radius: 10px; background: #fff;color: #333; line-height: 1.75;max-width: 100%;word-wrap: break-word;white-space: pre-line;}
.m-ai-message.type1{background: #cbddf7;}
.m-ai-message.type2{background: #fff;}
.m-ai-message.me{background: #95ec69;}
.m-ai-menu-btn{display: inline-block;text-align: center;line-height: 35px; color: #333;font-size: 26px;width: 35px;height: 35px;z-index: 99;}
.m-ai-message-footer{display: flex;font-size: 12px;padding: 0 0;line-height: 24px;max-height: 24px;}
.m-ai-message-footer-toolbar{padding: 0 5px 0 0;max-height: 24px;}
.m-ai-message-footer-toolbar .ant-btn{padding: 0 2px;height: 24px;}
.m-ai-message-to-audio{display: none; font-size: 12px;}
.m-ai-message-to-audio.active{display: block;}
.m-ai-message-audio-player-btn{display: none;cursor: pointer;color: #1890ff;}
.m-ai-message-audio-player-btn.active{display: block;}
.m-ai-message-footer-info{flex: 1;text-align: right;color: #999;height: 24px;}
.m-ai-message-footer-upgrade{display: none;padding: 0 0 0 5px; color: #999;height: 24px; text-decoration: underline;cursor: pointer;}
.m-ai-message-footer-upgrade:hover{color: #f04142;}
.m-ai-message-audio-wrap{display: none;padding: 2px;}
.m-ai-message-audio-wrap.active{display: block;}
.m-ai-group-chat-userinfo-wrap{width: 240px;}
.m-group-chat-toolbar-item{display: flex;flex-direction: column; align-items: center;}
.m-ai-message pre{position: relative;border-radius: 5px}
.m-group-chat-code-copy-icon{position: absolute;top: 5px;right: 10px;color: #e1e1e1;cursor: pointer;}


@media screen and (min-width: 768px) {  
.m-ai-footer{display: flex;flex-direction: column;}  
.m-ai-footer-btn-wrap{width: 100%;}
} 