.m-single-join-group-intro{font-size: 14px;line-height: 20px;margin: 0 10px; padding: 5px 10px 20px 10px;color: #333;line-height: 1.75;}
.m-single-join-group-img-wrap{display: flex;justify-content: center;}
.m-single-join-group-img{margin: 10px 0 0; width: 200px!important; height: auto;}
.m-weixin-code{padding: 0 5px; font-weight: bold;cursor: pointer;text-decoration: underline;}




