.m-single-question-img-wrap{display: flex;justify-content: center;margin: 0 0 10px 0;}
.m-single-question-img{margin: 10px 0 0; width: 200px!important; height: auto;}
.m-single-join-group-intro{font-size: 14px;line-height: 20px;margin: 0 10px; padding: 5px 10px 20px 10px;color: #333;line-height: 1.75;}



