/* @import '~antd/dist/antd.css'; */
.m-my-table .ant-table{font-size: 12px;}
.m-my-table .ant-table-thead .ant-table-cell{white-space: nowrap;}
.m-my-table .ant-table-tbody > tr > td{word-break: break-all;}
.m-modal-full-screen{position: fixed;margin: 0; padding: 0; top: 0;left: 0;right: 0;bottom: 0px;width: 100%!important;max-width: 100%;}
.m-modal-full-screen .ant-modal-content{position: relative; width: 100%;height: 100%;}
.m-modal-full-screen .ant-modal-body{height: calc(100% - 110px); overflow-y: auto;}
.m-modal-full-screen .ant-form{margin: 20px 0 20px 0;}
.m-modal-full-screen .m-modal-footer{position: absolute;left: 0;right: 0;bottom: -24px;padding: 0 20px; height: 55px;line-height: 55px;background: white;  border-top: 1px solid #ddd;}
.m-modal-full-screen .m-table-modal-footer{position: absolute;left: 0;right: 0;bottom: 0;padding: 0 20px; height: 55px;line-height: 55px;background: white;  border-top: 1px solid #ddd;}
.m-modal-full-screen .m-modal-img-footer{position: absolute;left: 0;right: 0;bottom: 0;padding: 0 20px; height: 55px;line-height: 55px;background: white;  border-top: 1px solid #ddd;}
.ant-menu-submenu-selected .m-sidebar-icon.big{font-weight:1000;}
.m-content-search.fold .ant-form-item{margin-bottom: 0;}
.m-upload .ant-btn{margin: 0 6px 0 0;}
.m-checkbox-group{display: flex;flex-direction: column;margin: 5px 0 0;}
.m-upload-order .ant-btn{margin: 0 6px 0 0;}
.m-upload-order .ant-upload-list-item-card-actions{width: 105px;}
.m-upload-order .ant-upload-list-item-card-actions button:first-child{width: 60px;}
.m-directory-tree .ant-tree-node-content-wrapper{margin: 0 0 0 -10px;}
.m-directory-tree .ant-tree-node-content-wrapper-normal{margin: 0 0 0 -22px;}
.m-carousel .slick-dots li button{height: 8px;}
.m-slider .slick-prev:before, .m-slider .slick-next:before{color: #1890ff;}
.m-slider-honor .slick-slide{padding: 20px 10px;cursor: pointer;text-align: center;}
.m-slider-course .slick-slide{padding: 20px 8px;cursor: pointer;}
.m-slider-course .slick-slide>div{border-radius: 9px;}
.m-slider-course .slick-slide>div:hover{border-radius: 9px;box-shadow: rgb(78 140 255 / 50%) 0px 2px 12px;}
.m-mobile-slider-honor .slick-slide{padding: 5px 2px;cursor: pointer;text-align: center;}
.m-tabs .ant-tabs-tab{margin: 0 0 0 5px;}
.m-divider .ant-divider-inner-text{font-weight: bold;}
.m-divider-light .ant-divider-inner-text{font-size: 12px;}
.m-my-table .ant-table{font-size: 12px;}
.m-my-table .ant-table-thead .ant-table-cell{white-space: nowrap;}
.m-my-table .ant-table-tbody > tr > td{word-break: break-all;}
.m-my-pro-table .ant-pro-table-list-toolbar-container{padding: 5px; text-align: right;}
.m-my-pro-table .ant-table{font-size: 14px;}
.m-my-pro-table .ant-table-thead .ant-table-cell{white-space: nowrap;}
.m-my-pro-table .ant-table-tbody > tr > td{word-break: break-all;}
.m-my-pro-table .ant-card-body{padding: 0;}
.m-tabel-config .ant-table-cell{min-width: 150px;}
.m-login-input .ant-input{font-size: 16px!important;}
.ant-spin-dot-item{transform: scale(1)!important;}
.ant-switch-checked{background:#00c250!important;}
