.m-ai-browser-check-intro{line-height: 1.75;font-size: 16px;color: #333;}
.m-ai-browser-check-value{font-weight: bold;color: #000;font-size: 18px;margin: 0 4px;}
.m-ai-browser-check-footer{display: flex;justify-content: flex-end; margin: 20px 0 0 0;}






